.center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-collumn{
    flex-wrap: wrap;
    flex-direction: column;
}

.self-center{
    position: relative;
    align-self: center;
    justify-self: center;
}

.img-loading{
    opacity: 0;
    animation: fadeIn 1.7s ease forwards;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}