html{
    height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0px; 
    font-family: "Roboto", sans-serif;
}
h1, h2, h3, h4, h5, h6{
    margin: 0px;
}
header{
        display: flex;
        justify-content: space-between;
        background-color: #FFFFFF;
        width: auto;
        padding: 16px 50px;
        border-bottom: 1.5px #F1F1F1 solid;

        #site-name{

            a{  
                font-size: x-large;
                font-weight: bold;
                color: #00132E;
            }
        }

        #nav-group{
            display: flex;
            gap: 10px;

            h2{
                color: #00132E;
            }
            a{
                width: 100px;
                height: 40px;
            }
            a:hover{
                background-color: #F1F1F1;
                border-radius: 40px;
            }
        }

        a{  
            text-decoration: none;
            color: #00132E;
        }
}
main{
    height: 1000px;


    .info-section{
        padding: 0 50px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 370px;

        background-color: rgb(245, 245, 245);

        .text-group{
            gap: 20px;
            width: 60%;
            p{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                
                padding: 0 40px;
                margin: 0px;
            }
        }

        .img-group{
            height: 100%;
            width: 50%;
            img{
                height: 100%;
                width: 100%;
                border-radius: 0 300px 130px 0;
                object-fit: cover;
            }
        }           
    }
}

footer{
    h6{
        font-family: monospace;
        margin: 0px;
        color: whitesmoke;
        text-align: center;
    }
    position: relative;
    align-self: flex-end;
    height: 100px;
    background-color: #1a1a1a;
}