html{
    height: 100%;

}
body{
    margin: 0px; 

}
header{
        display: flex;
        justify-content: space-between;
        background-color: rgb(239, 239, 239);
        width: auto;
        padding: 30px 50px;

        border-bottom: 2px silver solid;

        #site-name{
            a{  
                font-size: x-large;
                color: #41424C;
                font-weight: bold;
            }
        }
        #nav-group{
            display: flex;
            gap: 10px;
            h3{
                margin: 0px;
            }
        }
        a{  
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-decoration: none;
            color: #41424C;
        }
}
main{
    padding-top: 40px;
    height: 1000px;
    .info-section{
        padding: 0 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 370px;

        background-color: rgb(245, 245, 245);

        .text-group{
            gap: 20px;
            width: 60%;
            p{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                
                padding: 0 40px;
                margin: 0px;
            }
        }

        .img-group{
            height: 350px;
            width: 400px;
            img{
                width: 100%;
                border-radius: 90px 10px;
            }
        }           
    }
}

footer{
    h6{
        font-family: monospace;
        margin: 0px;
        color: whitesmoke;
        text-align: center;
    }
    position: relative;
    align-self: flex-end;
    height: 100px;
    background-color: #1a1a1a;
}