{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskMGR | The ultimate management tool</title>

    <link rel="stylesheet" href="{% static 'css/classes.css' %}">
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
</head>
<body>
    <header>
        <div class="center-items" id="site-name">
            <a href="">Task Manager | Management Tool</a>
        </div>
        <div id="nav-group">
            <a class="center-items" href="/auth/login/"><strong>LOGIN</strong></a>
            <a class="center-items" href=""><strong>SERVICES</strong></a>
        </div>
    </header>
    <main>
        <div class="info-section">
            <div class="img-group center-items">
                <img src="{% static 'images/trukinhway.jpg' %}" alt="">
            </div>
            <div class="text-group center-items wrap-collumn">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, qui, porro praesentium, aliquid sapiente culpa odio neque sunt laudantium architecto mollitia dolor? Omnis deleniti ipsam quidem repellat iure esse praesentium!
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit, doloribus nobis consectetur eum adipisci fugiat distinctio dolorum aliquid cum accusamus, temporibus consequuntur omnis repellendus nemo reiciendis obcaecati. Dignissimos, ab facere!
                </p>
            </div>
            <div class="button-group">
                <button>See More</button>
            </div>
        </div>
    </main>
    <footer class="center-items">
        <h6>Task Manager all rights reserved</h6>
    </footer>
</body>
</html>